# Configurações do Servidor
PORT=5000

# Credenciais do Jira
JIRA_API_URL=https://sua-empresa.atlassian.net
JIRA_USER_EMAIL=seu-email@empresa.com
JIRA_PAT=seu-jira-personal-access-token

# Credenciais do Azure DevOps
AZURE_API_URL=https://dev.azure.com/sua-organizacao/seu-projeto
AZURE_PAT=seu-azure-personal-access-token
