# Local databases
backend/database.db
backend/database_ativo.db
backend/database_historico.db

# Environments
backend/.env
frontend/.env
.env

# Python Cache
**/__pycache__/
*.pyc

# Node dependencies and builds
**/node_modules/
**/dist/
**/build/

# Operating System files
.DS_Store
Thumbs.db
